# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment Variables (IMPORTANT: Never track these)
.env

# Virtual Environments
.venv
env/
venv/
ENV/

# IDEs & OS
.vscode/
.idea/
.DS_Store