services: 

  web:
    build: .
    image: app:django
    container_name: django_container
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
      - mongodb
      - neo4j
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis_db
    volumes:
      - redis_data:/data
    networks:
      - app-network
      
  mongodb:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - app-network

  neo4j:
    image: neo4j:5
    container_name: neo4j_db
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH}
    networks:
        - app-network

volumes:
  postgres_data:
  redis_data:   
  mongodb_data: 
  neo4j_data:   
  neo4j_logs:

networks:
  app-network:
    driver: bridge